.about_head {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.about_main {
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 18px;
	border: solid rgba(0, 128, 0, 0.668) 3px;
	}

